@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;


#input-fields{
    display: flex;
    align-items: center;
    gap: 5px;
}
#place-order-left input{
   padding: 10px;
   border: 2px solid rgba(128, 128, 128, 0.207);
   border-radius: 5px;
   width: 100%;
}